<h1><%= @contact.name %></h1>
<hr />
<p>What would you like to do?</p>
<%= link_to 'View Contacts', contacts_path(@contact) %>
<br />
<%= link_to 'Edit Contact', edit_contact_path(@sub) %>
<br />
<%= link_to 'Delete Contact', @contact, method: :delete %>
